h1{ 
    color: orange;  
    font-family: "Segoe UI"; 
}
.kotak1{  
    padding: 50px; 
    width: 100px;
    height: 50px; 
    color: #fff; 
    margin: 10px;
    background: #0288d1; 
    float: left; 
}
#kotak1 {     
    padding: 50px; 
    width: 100px; 
    color: #ffffff; 
    height: 50px;  
    margin: 10px; 
    background: plum; 
    float: left;   
}
#kotak2 {     
    padding: 50px; 
    width: 100px; 
    color: #666666; 
    height: 50px;  
    margin: 10px; 
    background: #f8bbd0; 
    float: left;   
}
#kotak3 {     
    padding: 50px; 
    width: 100px; 
    color: #ffffff; 
    height: 50px;  
    margin: 10px; 
    background: #dd8007; 
    float: left;   
}